
/** aca comienza club de cata*/


.img-cata {
    width: 100%;
    height:30vh;
    display: flex;
    justify-content: center;
    background-color: white;
    img{
        width: 30%;
        height: 100%;
        margin: 5px;
    }
}
.logo-cata {
    @include flex(row,center ,center );
    img{
        background-color: map-get($colores, fondo );
        width: 100%;
        height: 35%;
    }
}

article {
    @include flex(column,center ,center );
    font-family:"Merriweather", serif ;
    font-size: larger;
    background: rgba(158, 3, 119, 0.329);
    
    ul {
        .list-art {
            list-style: none;
            padding: 20px;
            margin: 10px;
            gap: 1.875rem;
            p {text-align: center;}
            }
        }
    button {
        width: 200px;
        height: 50px;
        align-self: center;
        background-color: rgb(141, 67, 67);
        opacity: 90%;
        margin: 20px;
            font-size: larger;
            cursor: pointer;
            &:hover {
                scale: 1.1;
                opacity: 100%;
            }
    }
}


