/** comienza responsiv 768px*/
    

@media (max-width:768px){

    body {
        header {
            .logo {
                height: 150px;
                .menu-hamb {
                    visibility: visible;
                    cursor: pointer;
                    a {
                        text-align: center;
                    }
                    
                }
            }
            
        }
        
    }
    #menu-hamburg:checked ~ #hamburguesa .nav-hamb {
        visibility: visible;
        opacity: 100%;
        z-index: 2000;
    }

    .menu {
        flex-direction: column;
        height: 40px;
        .nav {
            position: absolute;
            top: -100px;
            height: 30px;
            width: 100%;
            list-style: none;
            display: none;
            z-index: 100;
            transition: all .2s ease;
            .submenu {
                display: none;
            }
        }
    }
    .buscador {
        background-color: rgb(56, 7, 7);
        width: 100%;
    }
    .buscador input {
        width: 80%;
    }
    .submenu-hamb li {
        background-color: aquamarine;
        border-radius: 2px;
        justify-content: center;
        align-items: center;
        .submenu-hamb a {
            text-align: center;
        }
    }
    
    
    .carrusel {
        width: 90%;
        height: 250px;
        left: 5%;
        h3 {left: 25%;}
    }
    .seccion-ofertas {
        align-self: center;
        width: 95%;
        
        h3 {
            font-size: large;
            margin-top: 10px;
            left: 35%;
        }
        .tarjetas p {
            scale: .7;
        }
        .tarjeta img {
            object-fit: contain;
        }
    }
    .section-2 h4 {
        font-size: medium;
        rotate: -45deg;
    }
    .fo {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: #240544;
        display: grid;
        grid-template-columns:25% 25% 50% ;
        grid-template-rows: 40px 20% 20% 20% 40%;
        grid-template-areas:
        "uno uno dos"
        "tres tres tres"
        "tres tres tres"
        "tres tres tres"
        ". . cuatro";
    }
    .contacto p {
        font-size: 30px;
    }
    .tex-1 p {
        font-size: 12px;
    }
    .formulario {
        width: 80%;
    }
    .img-cata {
        img {
            width: 30%;
        }
    }
    .principal-vinos
    {
    .filtro {
        width: 100%;
        height: 60px;
        flex-direction: row;
        ul {
            margin-top: 1px;
            li {
                margin-top: 10px;
                margin-bottom: 0px;
                @include flex(row,center ,center );
                a {
                    background-color: white;
                    margin: 5px 5px 2px 2px;
                }
            }
        }
    }
}
    .filtro-cerv {
        width: 100%;
        height: 60px;
        flex-direction: row;
        ul {
            margin-top: 1px;
            li {
                margin-top: 10px;
                margin-bottom: 0px;
                @include flex(row,center ,center );
                a {
                    background-color: white;
                    margin: 5px 5px 2px 2px;
                }
            }
        }
    }
    .main-vinos {
        height: 1250px;
        .principal-vinos {
            width: 100%;
            height: 1200px;
            display: flex;
            flex-direction: column;
        }
    }
    .main-cerv {
        height: 1250px;
        .principal-cerv {
            width: 100%;
            height: 1200px;
            display: flex;
            flex-direction: column;
        }
    }
    .maps {
        grid-area: cuatro;
        position: absolute;
        bottom: 30px;
    }
    
}

/** aca cominza resaponsiv 425px*/

@media (max-width: 425px){

    .carrusel {
        width: 90%;
        height: 250px;
        left: 5%;
        h3 {left: 15%;}
    }
    .slider2 {
        width: 100%;
    }
    .section-2 {
        height: 800px;
        flex-direction: column;
        .degustaciones {
            width: 95%;
        }
        .pack-de-vinos {
            width: 95%;
        }
        .cristaleria{
            width: 95%;
        }
        div {
            width: 100%;
        }
    }
    h4 {
        font-size: medium;
        rotate: 0deg;
    }
    .fo {
        position: relative;
        width: 100%;
        height: 500px;
        background-color: map-get($colores, fondo );
        display: grid;
        grid-template-columns:50% 50% ;
        grid-template-rows: 40px 30% 40px 40px 10% 40%;
        grid-template-areas:
        "uno dos"
        "tres tres"
        "tres tres"
        ". ."
        ". ."
        "cuatro cuatro";
    }
    .redes {
        grid-area: tres ;
        position: absolute;
        height: 50%;
        @include flex(row,center ,center );
        display: grid;
        grid-template-columns: 40px repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        ". . . ."
        "do tre . ."
        "do tre . ."
        "do tre cua ."
        ". . . ."
        "un un . .";
    }
    .contacto p {
        font-size: 30px;
    }
    .tex-1 p {
        font-size: 12px;
    }
    .formulario {
        width: 100%;
    }
    .filtro {
        width: 100%;
        height: 80px;
        ul {
            margin-top: 2px;
            li {
                display: flex;
                a {
                    margin: 5px 5px 2px 2px;
                    background-color: white;
                    margin: 10px;
                }
            }
        }
    }
    
    .filtro-cerv ul p {
        font-size: 10px;
    }
  


.galeria {
height: 3000px;
grid-template-columns: repeat(4,1fr);
grid-template-rows: 50px repeat(20,1fr);
    
    h2 {
        grid-column: 1 / 5;
        text-align: center;
    }
    h3 {
    font-size: 20px;
    text-align: center;
    grid-column: 1 / 5;
    grid-row: 11 / 12;
    }
    .imagen-1 {
        grid-column: 1  / 5;
        grid-row: 2 / 5;
        order: 2;
    }
    .imagen-2 {
        grid-column: 1 / 5;
        grid-row: 5 / 8;
        order: 3;
    }
    .imagen-3 {
        grid-column: 1 / 5;
        grid-row: 8 / 11;
        order: 4;
    }
    .imagen-4 {
        grid-column: 1  / 5;
        grid-row: 11 / 14;
        order: 6;
    }
    .imagen-5 {
        grid-column: 1 / 5;
        grid-row: 14 / 17;
        order: 7;
    }
    .imagen-6 {
        grid-column: 1 / 5;
        grid-row: 14 / 17;
        order: 8;
    }
    .imagen-7 {
        grid-column: 1 / 5;
        grid-row: 17 / 20;
        order: 9;
    }
    .imagen-8 {
        grid-column: 1 / 5;
        grid-row: 20 / 22;
        order: 10;
    }
    }
    .seccion-ofertas {
        h3 {
            font-size: 12px;
            left: 20%;
        }
        .slider2 {
            .slider-box {
                flex-direction: column;
                overflow: hidden;
                .tarjetas {
                    left: 0%;
                    .tarjeta {
                        width: 100%;
                        object-fit: fill;
                        cursor: pointer;
                    }
                }
                #item-2:checked ~ .tarjetas #selector-1,
                #item-1:checked ~ .tarjetas #selector-3,
                #item-3:checked ~ .tarjetas #selector-2{
                    transform: translateY(-100%) scale(0.8);
                    opacity: 0;
                    z-index: 1;
                }
                #item-3:checked ~ .tarjetas #selector-1,
                #item-1:checked ~ .tarjetas #selector-2,
                #item-2:checked ~ .tarjetas #selector-3{
                    transform: translateY(100%) scale(0.8);
                    opacity: 0;
                    z-index: 1;
                }
                #item-1:checked ~ .tarjetas #selector-1,
                #item-2:checked ~ .tarjetas #selector-2,
                #item-3:checked ~ .tarjetas #selector-3{
                    transform: translateY(0%) scale(1);
                    z-index: 2;
                    cursor:default;
                }

                .siguiente {
                    opacity: 1;
                    img {
                        opacity: 1;
                    }
                }
                }
                }
                }
}





/* aca comienza resopnsiv 320*/


@media (max-width: 320px){

    .carrusel {
        width: 100%;
        height: 250px;
        left: 0px;
        h3 {left: 15%;
        font-size: 12px;}
    }
    .principal-vinos {
        flex-direction: column;
        .filtro {
            width: 100%;
            height: 11vh;
            flex-direction: row;
            ul {
                margin-top: 1px;
                p {
                    font-size: 20px;
                }
                li {
                    margin-top: 10px;
                    margin-bottom: 0px;
                    @include flex(row,center ,center );
                    a {
                        background-color: white;
                        margin: 5px 5px 2px 2px;
                    }
                }
            }
        }
        .sig-1-2-3 {left: 30%;}
    }
    
    .principal-cerv {
        flex-direction: column;
        .filtro-cerv {
            width: 100%;
            height: 11vh;
            flex-direction: row;
            ul {
                margin-top: 10px;
                p {
                    font-size: 20px;
                }
                li {
                    margin-top: 10px;
                    margin-bottom: 0px;
                    @include flex(row,center ,center );
                    a {
                        background-color: white;
                        margin: 5px 5px 2px 2px;
                    }
                }
            }
        }
    }
    
    
    .cursos {
        background-image: url(../assets/img/wine-splash.webp);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
        object-fit: fill;
        .diez {
            
            grid-column: 1 / 3 ;
            grid-row: 1 / 3;
            order: 1;
        }
        
        .once {
            
            grid-column: 1 / 3;
            grid-row: 3 / 5;
            order: 3;
        } 
        .doce {
            
            grid-column: 1 / 3;
            grid-row: 5 / 7;
            order: 5;
        
        }
        .trece {
            
            grid-column: 1 / 3;
            grid-row: 7 / 9;
            order: 4;
        }
        .catorce {
           
            grid-column: 1 / 3;
            grid-row: 9 / 11;
            order: 2;
        }
        img:active {
            width: 90vw;
            height: 90vh;
        }
    }
    .galeria {
        height: 1500px;
        h2 {
            font-size: 16px;
        }
        h3 {
            font-size: 16px;
        }
    }
    .img-cata {
        height: 600px;
        flex-direction: column;
        img {
            width: 100%;
            height: 30%;
        }
    }
    article {
        font-size: medium;
    }
    .fo {
        grid-template-columns: repeat (2, 1fr);
        grid-template-rows: repeat (6, 1fr);
        grid-template-areas:
        "uno uno "
        "tres tres "
        "tres tres "
        "tres tres "
        "dos dos "
        "cuatro cuatro ";
        .redes {
            height: 280px;
            grid-template-columns: 40px 1fr;
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas: 
            
            "do tre "
            "do tre "
            "do tre "
            "cua cua "
            "un un "
            ". . ";
        }
    }
}
